// Responsive breakpoints
$size-xs: 480px;
$size-sm: 600px;
$size-md: 840px;
$size-lg: 960px;
$size-xl: 1280px;
$size-2x: 1440px;

// Buy now
$buy-now-section-background: #f8f9fa;

// Site section
$site-section-header-border-color: #e5e5e5
