---
layout: default
---

<div class="empty empty--full-size">
    <div class="empty-icon">
        <span data-feather="check-circle" class="empty__icon"></span>
    </div>
    <p class="empty-title h5">{{ site.form.success_message }}</p>
    <div class="empty-action">
        <a href="index.html" class="btn btn-primary">{{ site.form.go_back_button }}</a>
    </div>
</div>
